/*  Toast colors  */

.toasted.toasted-primary {
  font-weight: bold !important;
}

.toasted-container .warning {
  background-color: #ffc861 !important;
}

.toasted-container .error {
  background-color: #e21b1b !important;
}

.toasted-container .info {
  background-color: #61cbff !important;
}

.toasted-container .success {
  background-color: #5bc34f !important;
}